@yellow: #FFFF00; 
@skyblue: #72BBA9; 

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color:@skyblue;
    color: white;
    .margenes(50px, 20px);
    
}

.promo-imag {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:@skyblue;
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100%;
}

.estrellas {
    color:@yellow;
}

.calificacion {
    background-color: lightblue;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}

.colorete {
    color: white;
}

.hoteles-cal {
    flex: 1 150px;
    padding-bottom: 5px;
}

.card-hotel {
    flex: 1 250px;
    padding: 5px 0px 5px 0px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: #202020;
    border-color: transparent;
}

.btn-calificacion {
    width: 100%;
    border-radius: 0px;
    background-color: #202020;
    color:@yellow;
    border-color: transparent;
}

.bread-fondo {
    background-color: transparent;
    color: transparent;
}

.color-texto {
    color: cadetblue;
}

.footer-adress-icon {
    padding-right: 6px;
}

.espacio-pad {
    padding-top: 20px;
}

.tex-centrado {
    text-align: center;
}

.tarj-cent {
    text-align: center;
}

.card-im {
    margin-top: 5px;
    margin-bottom: 5px;
}